body{
  background:#111;
  color:white;
  font-family:Arial;
  text-align:center;
}

.form{
  width:300px;
  margin:70px auto;
  padding:20px;
  background:#222;
  border-radius:10px;
}

input{
  width:90%;
  padding:10px;
  margin:5px;
  background:#333;
  color:white;
  border:none;
}

button{
  width:100%;
  padding:10px;
  margin-top:10px;
  background:#09f;
  border:none;
  border-radius:5px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.market{
  margin-top:50px;
}
